body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px 50px 20px 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type = text] {
    width: 90%;
    border: 1px solid black;
    height: 30px;
    align-self: center;
    margin-left: 20px;
}

.add {
    margin-right: -6px;
    font-size: 44px;
}

hr {
    margin-top: 25px;
    width: 100%;
    border: 1px solid black;
}

.append-to {
    width: inherit;
    min-height: 300px;
    margin-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    float: left;
}

img {
    display: block;
    bottom: 0;
    align-self: center;
    height: 120px;
    width: auto;
    float: left;
}

.draggable {
    display: flex;
}

input[type = checkbox] {
    margin: 0; 
}

input[type=checkbox] {
    display:none;
}
     
.mark, .delete {
    font-size: 44px;
}

.delete {
    margin-left: auto;
    margin-right: -10px;
}

label {
    height: 44px;
    width: auto;
}

span {
    align-self: center;
    font-size: 24px;
    margin-left: 10px;
}
