* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#root {
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px 50px 20px 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    padding-bottom: 30px;
    margin: 0;
    font-weight: 500;
    align-self: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type = text] {
    width: 90%;
    border: 1px solid black;
    height: 30px;
    align-self: center;
    margin-left: 20px;
    padding: 5px;
}

input[type = text]::placeholder {
    font-size: 16px;   
    color: #c7c2c2; 
}

.add {
    margin-right: -6px;
    font-size: 44px;
    cursor: pointer;
}

hr {
    margin-top: 25px;
    width: 100%;
    border: 1px solid black;
}

section {
    width: auto;
}

.append-to {
    width: 100%;
    min-height: 300px;
    margin-top: 10px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    float: left;
}

footer {
    display: flex;
    justify-content: center;
}

img {
    height: 80px; 
    width: auto;
}

.draggable {
    display: flex;
    margin-top: 5px;
}

.draggable.over {
    border-top: 2px dashed #000;
  }

input[type=checkbox] {
    display: none;
}
     
.mark, .delete {
    font-size: 36px;
    cursor: pointer;
}

.delete {
    margin-left: auto;
    margin-right: -8px;
}

label {
    height: 36px;
    width: auto;
}

span {
    align-self: center;
    font-size: 18px;
    margin-left: 10px;
    max-width: 630px;
    word-wrap: break-word;
}

.warning {
    margin: 0 auto;
    color: red;
    display: none;
}