@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i');
/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
/* :root {
  --bg-color--dark: #0a1223;
  --bg-color--light: #fff;
  --link: #5d5d5d;
  --link--active: #54597d;
  --link--hover: #54597d;
  --article-title: #ddd;
  --article-title--dark: #000;
  --thumbnail--description: #5d5d5d; */

  /* These styles are needed only for media query max-width: 575px */

  /* The 'Up' button (circle button at right bottom corner) */
  /*--btn-color: #fff;
  --btn-bg-color: #5ebcff;

  --navigation-border-bottom: #ddd;
  --thumbnail-title: #484747;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Roboto';
  background-color: #fff;
}

.main-wrapper {
  width: inherit;
}

header {
  width: inherit;
  margin-bottom: 150px;
}

nav {
  width: inherit;
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  border-bottom: 2px solid #ddd;
  padding: 8px ;
  font-size: 1.3em;
  color: #54597d;
}

nav a.active {  
  color: #54597d;
}

nav a:first-child {
  font-weight: bold;
}

main {
  width: inherit;  
  margin-bottom: 150px;
}

main h1 {  
  font-size: 3.41em;
  text-align: center;  
  margin: 0 auto 170px;
  font-weight: 700;
  width: 95%;
}

main h1 span {
  font-weight: inherit;
  font-style: italic;
}

.articles-wrapper {
  width: 85%;
  margin: 0 auto;
}

.articles-wrapper article {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
}

.article-text {
  width: inherit;
  padding-top: 30px;
}

.article-text h3 {
  color: #484747;
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: 700;
}

.article-text p {
  color: #5d5d5d;
  font-size: 1em;
  text-indent: 1.5em;
  text-align: justify;
}

.article-img {
  width: 100%;
  height: auto;
  margin: 50px 20px 0;
}

.article-img img {
  width: 100%;
  height: auto;
}

.up-button {
  height: 70px;
  width: 70px;
  bottom: 40px;
  right: 40px;
  position: fixed;
  border-radius: 50%;
  background-color: #5ebcff;
  display: flex;
  justify-content: center;
  box-shadow: 8px 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.up-button a {
  text-decoration: none;
  align-self: center;
  color: #fff;
  font-size: 1.2em;
  display: inline-block;
  height: inherit;
  width: inherit;
  text-align: center;
  padding: 22px;
}

@media only screen and (min-width: 576px) {
  body {
    background-color: #0a1223;
  }

  nav {
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    border-bottom: none;
    font-size: 1em;
    padding: 30px 20px;
    color: #5d5d5d;
  }

  nav a:focus { 
    color: #54597d;
    outline: 0;
  }

  nav a:first-child {
    font-weight: normal;
  }

  main h1 {
    color: #ddd;
    font-size: 3.41em;
    margin: 0 auto 170px;
  }

  .articles-wrapper {
    width: 489px;
    margin: auto;
  }

  .article-text h3 {
    color: #ddd;    
    background: linear-gradient(to right, #eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .up-button {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  nav {
    justify-content: flex-end;
  }

  nav a:hover {     
    color: #54597d;
  }

  nav a:focus {     
    outline: 0;
    color: #5d5d5d;
  }

  main h1 {
    font-size: 5.5vw;
  }

  .articles-wrapper {
    max-width: 1100px;
    width: inherit;
  }

  .articles-wrapper article {
    flex-direction: row;
    padding: 0 40px;
    height: auto;
  }

  .articles-wrapper article:nth-child(2n) .article-img {
    order: -1;
  }

  .article-text {
    max-width: 510px;
    margin: 0 auto;
  }

  .article-img {
    width: 510px;
    display: flex;
    margin: 0 20px;
  }

  .article-img img {
    width: 500px;
    height: auto;
    align-self: center;
  }
}  




