$pageFont: sans-serif;

$contactFormH4FontSize: 15px;
$paragraphFontSize: 15px;

$pageColor: #ffffff;
$navSearchHeaderTextColor: #1fbcd3;
$navInputBorderCOlor: #617d8a;
$articleBackgroundColor: #efefef;
$postDescriptionColor: #159587;
$articleHeaderColor: #1697a6;
$paragraphSpanTextColor: #617d94;


