$pageFont: serif;

$contactFormH4FontSize: 18px;
$paragraphFontSize: 20.2px;

$pageColor: #efefef;
$navSearchHeaderTextColor: #fc5830;
$navInputBorderCOlor: #cfd8dc;
$articleBackgroundColor: #ffffff;
$postDescriptionColor: #bdbdbd;
$articleHeaderColor: #617d8a;
$paragraphSpanTextColor: #757575;


